<div>
  <div>
    <h1>
      List of all Study Groups
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Course
        </th>

        <th>
          Timeblock
        </th>

        <th>
          Members count
        </th>

        <th>
          Members max
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_studygroups.each do |a_studygroup| %>
      <tr>

        <td>
          <%= a_studygroup.course.title %>
        </td>

        <td>
          <%= a_studygroup.timeblock %>
        </td>

        <td>
          <%= a_studygroup.members_count %>
        </td>

        <td>
          <%= a_studygroup.max_members %>
        </td>

        <td>
          <%= a_studygroup.sgcomments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_studygroup.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_studygroup.updated_at) %> ago
        </td>

        <td>
          <a href="/studygroups/<%= a_studygroup.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h1>
      List of all sgcomments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new sgcomment
    </h2>

    <form action="/insert_sgcomment" method="post">
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>>
      </div>

      <div>
        <input type="hidden" id="studygroup_id_box" name="query_studygroup_id" value="<%= @the_studygroup.id %>">
      </div>

      <button>
        Post Comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Studygroup
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_sgcomments.each do |a_sgcomment| %>
      <tr>
        <td>
          <%= a_sgcomment.id %>
        </td>

        <td>
          <%= a_sgcomment.user_id %>
        </td>

        <td>
          <%= a_sgcomment.studygroup_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_sgcomment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_sgcomment.updated_at) %> ago
        </td>

        <td>
          <a href="/sgcomments/<%= a_sgcomment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
