<div>
  <div>
    <h1>
      <%= @the_studygroup.name %> Study Group
    </h1>

    <div>
      <div>
        <a href="/studygroups">
          See all Study Groups
        </a>
      </div>

      <div>
        <% if @the_studygroup.originator_id == @current_user.id %>
        <a href="/delete_studygroup/<%= @the_studygroup.id %>">
          Delete studygroup
        </a>
        <% else %>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Course
      </dt>
      <dd>
        <%= @the_studygroup.course.title %>
      </dd>

      <dt>
        Timeblock
      </dt>
      <dd>
        <%= @the_studygroup.timeblock %>
      </dd>

       <dt>
        Max Members
      </dt>
      <dd>
        <%= @the_studygroup.max_members %>
      </dd>


      <dt>
        Members
      </dt>
      
      <% @the_studygroup.users.each do |a_user| %>
        <dd>
          <%= a_user.name %>
        </dd>
      <% end %>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_studygroup.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_studygroup.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<% if Member.where({ :user_id => @current_user.id }).where({ :studygroup_id => @the_studygroup.id }).count != 0 %>
<hr>
  <div>
    <div>
      <h2>
        Edit Study Group
      </h2>

      <form action="/modify_studygroup/<%= @the_studygroup.id %>"  method="post" >
        <div>
          <input type="hidden" id="course_id_box" name="query_course_id" value="<%= @the_studygroup.course_id %>">
        </div>

        <div>
          <label for="timeblock_box">
            Time block
          </label>

          <input type="text" id="timeblock_box" name="query_timeblock" value="<%= @the_studygroup.timeblock %>">
        </div>

        <button>
          Update Study Group
        </button>
      </form>
    </div>
  </div>

<hr>
  <div>
    <div>
      <h2>
        Leave <%= @the_studygroup.name %>
      </h2>

      <form action="/delete_member/<%= Member.where({ :user_id => @current_user.id }).where({ :studygroup_id => @the_studygroup.id }).first.id %>"  method="get" >

        <button>
          Sorry to see you go!
        </button>
      </form>
    </div>
  </div>


<% elsif Member.where({ :user_id => @current_user.id }).where({ :studygroup_id => @the_studygroup.id }).count == 0 && @the_studygroup.max_members > @the_studygroup.members_count %>

<hr>
  <div>
    <div>
      <h2>
        Join <%= @the_studygroup.name %>
      </h2>

      <form action="/studygroups/join/<%= @the_studygroup.id %>"  method="post" >

        <button>
          Join Now!
        </button>
      </form>
    </div>
  </div>
<% end %>

<hr>
  <h2>
  Comments (<%= @the_studygroup.sgcomments_count %>)
  </h2>  

<div>
  <div>
    <h3>
      Add a new comment
    </h3>
    

    <form action="/insert_sgcomment" method="post">

      <div>
        <input type="hidden" id="studygroup_id_box" name="query_studygroup_id" value="<%= @the_studygroup.id %>">
      </div>

      <div>
        <input type="text" id="content_id_box" name="query_content" placeholder="Enter your comment here...">
      </div>

      <button>
        Post Comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Comment
        </th>

        <th>
          Posted by
        </th>

        <th>
          Post time
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_sgcomments.each do |a_sgcomment| %>
      <tr>
        <td>
          <%= a_sgcomment.content %>
        </td>

        <td>
          <%= a_sgcomment.user.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_sgcomment.created_at) %> ago
        </td>

        <td>
          <a href="/sgcomments/<%= a_sgcomment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>