<div>
  <div>
    <h1>
      <%= @the_studygroup.name %> Study Group
    </h1>

    <div>
      <div>
        <a href="/studygroups">
          Go back
        </a>
      </div>

      <div>
        <% if @the_studygroup.originator_id == @current_user.id %>
        <a href="/delete_studygroup/<%= @the_studygroup.id %>">
          Delete studygroup
        </a>
        <% else %>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Course
      </dt>
      <dd>
        <%= @the_studygroup.course.title %>
      </dd>

      <dt>
        Timeblock
      </dt>
      <dd>
        <%= @the_studygroup.timeblock %>
      </dd>

      <dt>
        Members
      </dt>
      <dd>
        <%= @the_studygroup.users.at(0).name %> 
      </dd>

      <dt>
        Sgcomments count
      </dt>
      <dd>
        <%= @the_studygroup.sgcomments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_studygroup.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_studygroup.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit studygroup
    </h2>

    <form action="/modify_studygroup/<%= @the_studygroup.id %>"  method="post" >
      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="hidden" id="course_id_box" name="query_course_id" value="<%= @the_studygroup.course_id %>">
      </div>

      <div>
        <label for="timeblock_box">
          Time block
        </label>

        <input type="text" id="timeblock_box" name="query_timeblock" value="<%= @the_studygroup.timeblock %>">
      </div>

      <button>
        Update studygroup
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Join <%= @the_studygroup.name %>
    </h2>

    <form action="/studygroups/join/<%= @the_studygroup.id %>"  method="post" >

      <button>
        Join Now!
      </button>
    </form>
  </div>
</div>