<div>
  <div>
    <h1>
      List of all professors
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new professor
    </h2>

    <form action="/insert_professor" method="post">
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <button>
        Create professor
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Email
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_professors.each do |a_professor| %>
      <tr>
        <td>
          <%= a_professor.id %>
        </td>

        <td>
          <%= a_professor.first_name %>
        </td>

        <td>
          <%= a_professor.last_name %>
        </td>

        <td>
          <%= a_professor.email %>
        </td>

        <td>
          <%= time_ago_in_words(a_professor.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_professor.updated_at) %> ago
        </td>

        <td>
          <a href="/professors/<%= a_professor.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
