<div>
  <div>
    <h1>
      List of all schools
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new school
    </h2>

    <form action="/insert_school" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create school
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_schools.each do |a_school| %>
      <tr>
        <td>
          <%= a_school.id %>
        </td>

        <td>
          <%= a_school.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_school.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_school.updated_at) %> ago
        </td>

        <td>
          <a href="/schools/<%= a_school.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
