<div>
  <div>
    <h1>
      List of all courses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new course
    </h2>

    <form action="/insert_course" method="post">
      <div>
        <label for="description_box">
          Course Link
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="school_id_box">
          School
        </label>

        <input type="text" id="school_id_box" name="query_school_id">
      </div>

      <div>
        <label for="schedule_box">
          Schedule
        </label>

        <input type="text" id="schedule_box" name="query_schedule">
      </div>

      <div>
        <label for="quarter_box">
          Quarter
        </label>

        <input type="text" id="quarter_box" name="query_quarter">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="course_number_box">
          Course number
        </label>

        <input type="text" id="course_number_box" name="query_course_number">
      </div>

      <div>
        <label for="section_number_box">
          Section number
        </label>

        <input type="text" id="section_number_box" name="query_section_number">
      </div>

      <div>
        <label for="program_box">
          Program
        </label>

        <input type="text" id="program_box" name="query_program">
      </div>

      <button>
        Create course
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          School
        </th>

        <th>
          Schedule
        </th>

        <th>
          Quarter
        </th>

        <th>
          Title
        </th>

        <th>
          Course number
        </th>

        <th>
          Section number
        </th>

        <th>
          Program
        </th>

        <th>
          Comments count
        </th>

        <th>
          Studygroups count
        </th>

        <th>
        Details
        </th>
      </tr>

      <% @list_of_courses.each do |a_course| %>
      <tr>

        <td>
          <%= a_course.school.name %>
        </td>

        <td>
          <%= a_course.schedule %>
        </td>

        <td>
          <%= a_course.quarter %>
        </td>

        <td>
          <%= a_course.title %>
        </td>

        <td>
          <%= a_course.course_number %>
        </td>

        <td>
          <%= a_course.section_number %>
        </td>

        <td>
          <%= a_course.program %>
        </td>

        <td>
          <%= a_course.comments_count %>
        </td>

        <td>
          <%= a_course.studygroups_count %>
        </td>

        <td>
          <a href="/courses/<%= a_course.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
