<div>
  <div>
    <h1>
      <%= @the_course.title %>
    </h1>

    <div>
      <div>
        <a href="/courses">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dd>
        <a href="<%= @the_course.description %>">
          Syllabus
        </a>
      </dd>

      <dt>
        Course number
      </dt>
      <dd>
        <%= @the_course.course_number %>
      </dd>

      <dt>
        Section number
      </dt>
      <dd>
        <%= @the_course.section_number %>
      </dd>

      <dt>
        School
      </dt>
      <dd>
        <%= @the_course.school.name %>
      </dd>

      <dt>
        Schedule
      </dt>
      <dd>
        <%= @the_course.schedule %>
      </dd>

      <dt>
        Quarter
      </dt>
      <dd>
        <%= @the_course.quarter %>
      </dd>


      <dt>
        Program
      </dt>
      <dd>
        <%= @the_course.program %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_course.comments_count %>
      </dd>

      <dt>
        Studygroups count
      </dt>
      <dd>
        <%= @the_course.studygroups_count %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit course
    </h2>

    <form action="/modify_course/<%= @the_course.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_course.description %>">
      </div>

      <div>
        <label for="school_id_box">
          School
        </label>

        <input type="text" id="school_id_box" name="query_school_id" value="<%= @the_course.school_id %>">
      </div>

      <div>
        <label for="schedule_box">
          Schedule
        </label>

        <input type="text" id="schedule_box" name="query_schedule" value="<%= @the_course.schedule %>">
      </div>

      <div>
        <label for="quarter_box">
          Quarter
        </label>

        <input type="text" id="quarter_box" name="query_quarter" value="<%= @the_course.quarter %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_course.title %>">
      </div>

      <div>
        <label for="course_number_box">
          Course number
        </label>

        <input type="text" id="course_number_box" name="query_course_number" value="<%= @the_course.course_number %>">
      </div>

      <div>
        <label for="section_number_box">
          Section number
        </label>

        <input type="text" id="section_number_box" name="query_section_number" value="<%= @the_course.section_number %>">
      </div>

      <div>
        <label for="program_box">
          Program
        </label>

        <input type="text" id="program_box" name="query_program" value="<%= @the_course.program %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_course.comments_count %>">
      </div>

      <div>
        <label for="studygroups_count_box">
          Studygroups count
        </label>

        <input type="text" id="studygroups_count_box" name="query_studygroups_count" value="<%= @the_course.studygroups_count %>">
      </div>

      <button>
        Update course
      </button>
    </form>
  </div>
</div>

<hr>
