<div>
  <div>
    <h1>
      <%= @the_course.title %>
    </h1>

    <div>
      <div>
        <a href="/courses">
          Go back
        </a>
      </div>
    </div>
    
    <dl>
      <dt>
        See course details (external link)
      </dt>
      <dd>
        <a href="<%= @the_course.description %>">
          Syllabus
        </a>
      </dd>

      <dt>
        Course number
      </dt>
      <dd>
        <%= @the_course.course_number %>
      </dd>

      <dt>
        Section number
      </dt>
      <dd>
        <%= @the_course.section_number %>
      </dd>

      <dt>
        School
      </dt>
      <dd>
        <%= @the_course.school.name %>
      </dd>

      <dt>
        Schedule
      </dt>
      <dd>
        <%= @the_course.schedule %>
      </dd>

      <dt>
        Quarter
      </dt>
      <dd>
        <%= @the_course.quarter %>
      </dd>


      <dt>
        Program
      </dt>
      <dd>
        <%= @the_course.program %>
      </dd>

      <dt>
        Number of Comments
      </dt>
      <dd>
        <%= @the_course.comments_count %>
      </dd>

      <dt>
        Number of Study Groups
      </dt>
      <dd>
        <%= @the_course.studygroups_count %>
      </dd>

    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new Study Group
    </h2>

    <form action="/insert_studygroup" method="post">
      <div>
        <input type="hidden" id="course_id_box" name="query_course_id" value="<%= @the_course.id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="eg. Team Giraffe">
      </div>

      <div>
        <label for="max_members_box">
          Maximum Members
        </label>

        <input type="text" id="max_members_box" name="query_max_members" value="eg. 5">
      </div>

      <div>
        <label for="timeblock_box">
          Suggested Timeblock
        </label>

        <input type="text" id="timeblock_box" name="query_timeblock" value="eg. Tuesday 3 to 4pm">
      </div>

      <button>
        Create studygroup
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>

        <th>
          Course
        </th>

        <th>
          Timeblock
        </th>

        <th>
          Members count
        </th>

        <th>
          Sgcomments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_studygroups.each do |a_studygroup| %>
      <tr>

        <td>
          <%= a_studygroup.course.title %>
        </td>

        <td>
          <%= a_studygroup.timeblock %>
        </td>

        <td>
          <%= a_studygroup.members_count %>
        </td>

        <td>
          <%= a_studygroup.sgcomments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_studygroup.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_studygroup.updated_at) %> ago
        </td>

        <td>
          <a href="/studygroups/<%= a_studygroup.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% if false %>
<div>
  <div>
    <h2>
      Edit course
    </h2>

    <form action="/modify_course/<%= @the_course.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_course.description %>">
      </div>

      <div>
        <label for="school_id_box">
          School
        </label>

        <input type="text" id="school_id_box" name="query_school_id" value="<%= @the_course.school_id %>">
      </div>

      <div>
        <label for="schedule_box">
          Schedule
        </label>

        <input type="text" id="schedule_box" name="query_schedule" value="<%= @the_course.schedule %>">
      </div>

      <div>
        <label for="quarter_box">
          Quarter
        </label>

        <input type="text" id="quarter_box" name="query_quarter" value="<%= @the_course.quarter %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_course.title %>">
      </div>

      <div>
        <label for="course_number_box">
          Course number
        </label>

        <input type="text" id="course_number_box" name="query_course_number" value="<%= @the_course.course_number %>">
      </div>

      <div>
        <label for="section_number_box">
          Section number
        </label>

        <input type="text" id="section_number_box" name="query_section_number" value="<%= @the_course.section_number %>">
      </div>

      <div>
        <label for="program_box">
          Program
        </label>

        <input type="text" id="program_box" name="query_program" value="<%= @the_course.program %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_course.comments_count %>">
      </div>

      <div>
        <label for="studygroups_count_box">
          Studygroups count
        </label>

        <input type="text" id="studygroups_count_box" name="query_studygroups_count" value="<%= @the_course.studygroups_count %>">
      </div>

      <button>
        Update course
      </button>
    </form>
  </div>
</div> 

<hr>
<% end %>