<div>
  <div>
    <h1>
      List of all courseloads
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new courseload
    </h2>

    <form action="/insert_courseload" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id">
      </div>

      <button>
        Create courseload
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Course
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_courseloads.each do |a_courseload| %>
      <tr>
        <td>
          <%= a_courseload.id %>
        </td>

        <td>
          <%= a_courseload.user_id %>
        </td>

        <td>
          <%= a_courseload.course_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_courseload.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_courseload.updated_at) %> ago
        </td>

        <td>
          <a href="/courseloads/<%= a_courseload.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
