<div>
  <div>
    <h1>
      Courseload #<%= @the_courseload.id %> details
    </h1>

    <div>
      <div>
        <a href="/courseloads">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_courseload/<%= @the_courseload.id %>">
          Delete courseload
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_courseload.user_id %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <%= @the_courseload.course_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_courseload.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_courseload.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit courseload
    </h2>

    <form action="/modify_courseload/<%= @the_courseload.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_courseload.user_id %>">
      </div>

      <div>
        <label for="course_id_box">
          Course
        </label>

        <input type="text" id="course_id_box" name="query_course_id" value="<%= @the_courseload.course_id %>">
      </div>

      <button>
        Update courseload
      </button>
    </form>
  </div>
</div>

<hr>
