<div>
  <div>
    <h1>
      List of all members
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new member
    </h2>

    <form action="/insert_member" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="studygroup_id_box">
          Studygroup
        </label>

        <input type="text" id="studygroup_id_box" name="query_studygroup_id">
      </div>

      <button>
        Create member
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Studygroup
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_members.each do |a_member| %>
      <tr>
        <td>
          <%= a_member.id %>
        </td>

        <td>
          <%= a_member.user_id %>
        </td>

        <td>
          <%= a_member.studygroup_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_member.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_member.updated_at) %> ago
        </td>

        <td>
          <a href="/members/<%= a_member.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
