<div>
  <div>
    <h1>
      Member #<%= @the_member.id %> details
    </h1>

    <div>
      <div>
        <a href="/members">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_member/<%= @the_member.id %>">
          Delete member
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_member.user_id %>
      </dd>

      <dt>
        Studygroup
      </dt>
      <dd>
        <%= @the_member.studygroup_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_member.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_member.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit member
    </h2>

    <form action="/modify_member/<%= @the_member.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_member.user_id %>">
      </div>

      <div>
        <label for="studygroup_id_box">
          Studygroup
        </label>

        <input type="text" id="studygroup_id_box" name="query_studygroup_id" value="<%= @the_member.studygroup_id %>">
      </div>

      <button>
        Update member
      </button>
    </form>
  </div>
</div>

<hr>
